@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* General Styling */
body {
    background-color: #5a83a3;
    background-image: linear-gradient(to bottom right, lightblue, rgb(70, 70, 180));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

/* Title Header */
header {
    font-family: 'Anton';
    color: white;
    background-color: black;
    padding: 0 1em 0 1em;
    border: 7px solid white;
    border-radius: 1em;
    max-width: fit-content;
}

h1 {
    background-color: black;
}

.red-text {
    color: red;
}

main {
    /* border: 5px solid blue; */
    border-radius: 5px;

}

/* Name Input Boxes */
.name-input-container {
    text-align: center;
    margin-top: 1em;
    color: white;
}

.hidden {
    display: none;
}

/* Game Board */
#board {
    border: 10px solid rgb(4, 4, 116);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 540px;
    width: 630px;
    background-color: blue;
    row-gap: 0px;
    column-gap: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90px;
    width: 630px;
}

.col {
    border: 2px solid black;
    border-radius: 50%;
    margin: 2%;
    height: 60px;
    width: 90px;
    column-gap: 0px;
    /* testing colors for empty, red, and yellow */
    background-color: lightblue;
}
/* https://css-tricks.com/almanac/properties/c/clip-path/ */
.null {
    background-color: lightblue;
}

.red {
    background-color: rgb(228, 61, 61);
}

.yellow {
    background-color: rgb(245, 245, 81);
}

/* ----------------------------------- */
/* MEDIA QUERY FOR MOBILE SCREEN------ */
/* smaller board&& top/bottom margins- */
@media all and (max-width: 800px) {
    header {
        margin-top: 10em;
    }
    
    .board {
        max-height: 258px; /* divided by 5 = 43*/
        max-width: 301px; /* divided by 7 = 43*/
        background-color: red;
    }

    .row {
        height: 43px;
        width: 301px;
    }
    .col {
        height: 28px;
        width: 43px;
    }

    .players-box {
        margin-left: 155px;
        flex-direction: column;
    }

    footer {
        margin-bottom: 13em;
        color: lightblue;
    }
}
/* ----------------------------------- */

/* Player name and score */
.players-box {
    display: flex;
    /* flex-direction: column; */
    width: fit-content;
    height: fit-content;
    /* border: 5x solid red; */
    justify-content: space-between;
    padding: 0 2.8em 0 2.8em;
    column-gap: 3.8em;
}

.player {
    display: flex;
    font-family: 'Anton';
    color: white;
    text-align: center;
    flex-direction: column;
    width: 200px;
    height: fit-content;
    background-color: black;
    border: 7px solid white;
    border-radius: 1em;
    margin-top: 1em;
    padding: 0 1em 0 1em;
}

#lightblue-text {
    color: lightblue
}

#player-one-display-name {
    font-family: 'Permanent Marker';
    color: red;
    font-size: larger;
}

#player-two-display-name {
    font-family: 'Permanent Marker';
    color: red;
    font-size: larger;
}

.reset-container {
    padding: 1em;
    text-align: center;
}

#reset-bttn {
    color: lightblue;
    background-color: blue;
    border-radius: 5px;
}

/* Footer for author */
footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: lightblue;
    /* margin-top: 2em;; */
}

#author {
    font-family: 'Berkshire Swash';
}

a {
    text-decoration: none;
    color: lightblue;
}
